@use '../variables' as *;

#index-content {

}

#index-lower-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 120px;
}

#about-short {
    border-bottom: 1px solid grey;
    height: 200px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.project-card {
    max-width: 319px;
    position: relative;
    transition: all ease 0.3s;
    top: 0px;


    .project-image {
        position: relative;
        min-width: 319px;
        min-height: 424px;
        border-radius: 30px;

    }

    .project-title {
        padding: 15px;
        margin: 0;
        height: 50px;
        max-height: 50px;
        word-wrap: break-word;
        overflow: hidden;
        position: absolute;
        top: calc(100% - 90px);
        left: 0px;
        width: calc(100% - 30px);
        font-size: 22px; 
        text-align: center;
        z-index: 2;
        color: var(--text-normal);
    }

    .project-overlay {
        border-radius: 30px;
        background: radial-gradient(transparent 20%, #090979);
        position: absolute;
        mix-blend-mode: darken;
        opacity: 0.95;
        content: '';
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        display: inline-block;
    }

    .project-available-online-icon {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        transition: all ease 0.2s;
    }

    .project-available-online-icon:hover {
        transform: scale(1.25);
    }
}

.project-card:hover {
    top: -15px;
}
