@use 'sass:color';

$desktopMaxWidth: 1400px;

:root.dark-theme {
    --bg: #0F0F0F;
    --bg-up: #{lighten(#0F0F0F, 15%)};
    --text-normal: hsla(0,0%,100%,.88);
    --text-title: #fff;
    --text-highlight: hsla(0,0%,100%,.8);
    --text-link: #6ab0f3;
    --text-link-hover: #4675a1;
}

:root.light-theme {
    --bg: #fff;
    --bg-up: #fff;
    --text-light: #444;
    --text-normal: #333;
    --text-title: #1a1a1a;
    --text-highlight: #666;
    --text-link: #6ab0f3;
    --text-link-hover: #4675a1;
}