@use 'variables.scss';
@use 'components/header.scss';

html {
    width: 100%;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    color: var(--text-normal);
    min-height: 100%;
    min-width: 100%;
    transition: all 0.3s ease;
}

#__next {
    margin: 1em;
    max-width: 800px;
}

img {
    max-width: 90%;
    object-fit: contain;
}

a {
    color: #6ab0f3;
}

.light-theme #light-theme-toggle {
    display: none;
}

.dark-theme #dark-theme-toggle {
    display: none;
}